a{
  color: #ca0026;
}

p{
  text-align: justify;
}

.full-width {
  max-width: 100%;
  width: 100%;
}

.header {
  background-color: #FFF;
  height: 25rem;
  padding: 2rem 0 2rem 0;
  h1 {
    color: #CA0026;
    font-weight: 400;
  }
  h2 {
    color: #E57C32;
  }
  .logo {
    margin: 1rem 0;
  }
}

.sub-header {
  background-image: url('/images/bg_praxis.jpg');
  background-position: 0 18rem;
  background-size: cover;
  border-bottom: 2px solid #eee;
  height: 18rem;
  //margin-top: 20rem;
}

.menu {
  background: #fff;
  border-bottom: 1px solid #efefef;
  color: #efefef;
  margin-bottom: 5rem;
  ul {
    display: table;
     margin: 0 auto;
     li {
      a {
        color: #737373;
        font-size: 1.05rem;
        &:hover {
          color: #ca0026;
        }
      }
     }
  }
}

.sub-nav li.active a {
  background-color: #ca0026;
}

.kosten {
  th {
    font-size: 0.95rem;
    width: 33.33%;
  }
}
.footer {
  margin-top: 40px;
  p {
    font-size: 0.75rem;
  }
}
